Repository willyjin17/coin, changes with the owners that CODEOWNERS names for each.
All owners: @theuni, @marcofalke, @jonasschnelli, @meshcollider, @sipsorcery

doc: Document differences in bitcoind and bitcoin-qt locale handling
  src/qt/bitcoin.cpp
  test/lint/lint-locale-dependence.sh
Owners: @jonasschnelli, @marcofalke

test: Add tsan supp for leveldb::DBImpl::DeleteObsoleteFiles
  test/sanitizer_suppressions/tsan
Owners: @marcofalke

scripted-diff: Move previous_release.py to test/get_previous_releases.py
  ci/test/05_before_script.sh
  test/functional/feature_backwards_compatibility.py
  test/functional/mempool_compatibility.py
  test/functional/wallet_upgradewallet.py
  test/get_previous_releases.py
Owners: @marcofalke

util: Hard code previous release tarball checksums
  ci/test/00_setup_env_native_qt5.sh
  test/get_previous_releases.py
Owners: @marcofalke

Use LockAssertion utility class instead of AssertLockHeld()
  src/net_processing.cpp
Owners: none

Do not hide compile-time thread safety warnings
  src/sync.h
Owners: none

Add missed thread safety annotations
  src/wallet/scriptpubkeyman.h
  src/wallet/wallet.h
Owners: @meshcollider

doc: Add best practice for annotating/asserting locks
  doc/developer-notes.md
Owners: none

sync.h: Make runtime lock checks require compile-time lock checks
  src/sync.cpp
  src/sync.h
  src/validation.h
  src/wallet/wallet.h
Owners: @meshcollider

rpc: Properly deserialize txs with witness before signing
  src/rpc/rawtransaction.cpp
  src/wallet/rpcwallet.cpp
Owners: @meshcollider

Set appveyor vm version to previous Visual Studio 2019 release.
  .appveyor.yml
Owners: none

Avoid callback when -blocknotify is empty
  src/init.cpp
Owners: none

cli: create initial -netinfo option, NetinfoRequestHandler class
  src/bitcoin-cli.cpp
Owners: none

cli: add ipv6 and onion address type detection helpers
  src/bitcoin-cli.cpp
Owners: none

Update the vcpkg checkout commit ID in appveyor config.
  .appveyor.yml
Owners: none

remove usage of boost::bind
  src/qt/walletmodel.cpp
Owners: @jonasschnelli

cli: tally peer connections by type
  src/bitcoin-cli.cpp
Owners: none

cli: start dashboard report with chain and version header
  src/bitcoin-cli.cpp
Owners: none

cli: create inbound/outbound peer connections report
  src/bitcoin-cli.cpp
Owners: none

cli: create local addresses, ports, and scores report
  src/bitcoin-cli.cpp
Owners: none

cli: add NetType enum struct and NetTypeEnumToString()
  src/bitcoin-cli.cpp
Owners: none

cli: create vector of Peer structs for peers data
  src/bitcoin-cli.cpp
Owners: none

cli: create peer connections report sorted by dir, minping
  src/bitcoin-cli.cpp
Owners: none

cli: add -netinfo server version check and error message
  src/bitcoin-cli.cpp
Owners: none

cli: add getpeerinfo last_{block,transaction} to -netinfo
  src/bitcoin-cli.cpp
Owners: none

cli: change -netinfo optional arg from bool to int
  src/bitcoin-cli.cpp
Owners: none

Assert that RPCArg names are equal to CRPCCommand ones (blockchain)
  src/rest.cpp
  src/rpc/blockchain.cpp
Owners: none

Assert that RPCArg names are equal to CRPCCommand ones (rawtransaction)
  src/rpc/rawtransaction.cpp
Owners: none

Remove -zapwallettxes
  doc/release-notes-19671.md
  src/dummywallet.cpp
  src/wallet/init.cpp
  src/wallet/rpcwallet.cpp
  src/wallet/wallet.cpp
  src/wallet/wallet.h
  src/wallet/walletdb.cpp
  src/wallet/walletdb.h
  test/functional/test_runner.py
  test/functional/wallet_basic.py
  test/functional/wallet_multiwallet.py
  test/functional/wallet_zapwallettxes.py
  test/lint/check-doc.py
Owners: @meshcollider, @marcofalke

lint: add C++ code linter
  test/lint/lint-cpp.sh
Owners: @marcofalke

refactor: CTxMemPool::UpdateParent() requires CTxMemPool::cs lock
  src/txmempool.cpp
  src/txmempool.h
Owners: none

refactor: CTxMemPool::UpdateChild() requires CTxMemPool::cs lock
  src/txmempool.cpp
  src/txmempool.h
Owners: none

refactor: CTxMemPool::ApplyDelta() requires CTxMemPool::cs lock
  src/txmempool.cpp
  src/txmempool.h
Owners: none

refactor: CTxMemPool::ClearPrioritisation() requires CTxMemPool::cs lock
  src/txmempool.cpp
  src/txmempool.h
Owners: none

refactor: CTxMemPool::GetTotalTxSize() requires CTxMemPool::cs lock
  src/txmempool.h
Owners: none

refactor: CTxMemPool::IsUnbroadcastTx() requires CTxMemPool::cs lock
  src/txmempool.h
Owners: none

doc: elaborate on release notes wrt netmasks
  doc/release-notes.md
Owners: none

CODEOWNERS:

# Nonspecific maintainers
#   @laanwj
#   @sipa
#   @fanquake

# Build system maintainer
/configure.ac         @theuni
/build-aux/           @theuni
/depends/             @theuni
*.am                  @theuni
Makefile.*            @theuni

# Test framework maintainer
/src/test/            @marcofalke
/test/                @marcofalke
/ci/                  @marcofalke

# GUI maintainer
/src/qt/              @jonasschnelli

# Wallet maintainer
/src/wallet/          @meshcollider

# MSVC build system maintainer
/build_msvc/          @sipsorcery
