Repository willyjin17/coin, changes with the owners that CODEOWNERS names for each.
All owners: @theuni, @marcofalke, @jonasschnelli, @meshcollider, @sipsorcery

build, test: Add support for llvm-cov
  .gitignore
  Makefile.am
  configure.ac
Owners: @theuni

build: Add missed fuzz_filtered.info to COVERAGE_INFO
  Makefile.am
Owners: @theuni

build: Add missed fuzz.coverage/ directory to .gitignore
  .gitignore
Owners: none

build: Drop unused bitcoin_cv_qt58
  build-aux/m4/bitcoin_qt.m4
Owners: @theuni

build, qt: Add Qt version checking
  build-aux/m4/bitcoin_qt.m4
  configure.ac
Owners: @theuni

build: Enable some commonly enabled compiler diagnostics
  configure.ac
Owners: @theuni

rpc: Improve addnode remove command error message
  src/rpc/net.cpp
  test/functional/rpc_net.py
Owners: @marcofalke

doc: Document ALLOW_HOST_PACKAGES dependency option
  depends/README.md
Owners: @theuni

Refactor OutputGroups to handle effective values, fees, and filtering
  src/wallet/coinselection.cpp
  src/wallet/coinselection.h
  src/wallet/wallet.cpp
Owners: @meshcollider

[addrman] Specify max addresses and pct when calling GetAddresses()
  src/addrman.cpp
  src/addrman.h
  src/bench/addrman.cpp
  src/net.cpp
  src/net.h
  src/net_processing.cpp
  src/rpc/net.cpp
  src/test/addrman_tests.cpp
Owners: @marcofalke

[net] Add addpeeraddress RPC method
  src/net.cpp
  src/net.h
  src/rpc/client.cpp
  src/rpc/net.cpp
  test/functional/rpc_net.py
Owners: @marcofalke

[test] Test that getnodeaddresses() can return all known addresses
  test/functional/rpc_net.py
Owners: @marcofalke

[net processing] Remove CNodeState.name
  src/net_processing.cpp
Owners: none

[net processing] Add Peer
  src/net_processing.cpp
Owners: none

[net processing] Move misbehavior tracking state to Peer
  src/net_processing.cpp
  src/test/denialofservice_tests.cpp
Owners: @marcofalke

scripted-diff: rename misbehavior members
  src/net_processing.cpp
  src/net_processing.h
  src/rpc/net.cpp
Owners: none

[net_processing] Change PeerLogicValidation to hold a connman reference
  src/init.cpp
  src/net_processing.cpp
  src/net_processing.h
  src/test/denialofservice_tests.cpp
  src/test/util/setup_common.cpp
Owners: @marcofalke

Shrink CAddress from 48 to 40 bytes on x64
  src/protocol.h
Owners: none

util: make EncodeBase58Check consume Spans
  src/base58.cpp
  src/base58.h
  src/bench/base58.cpp
Owners: none

util: make EncodeBase58 consume Spans
  src/base58.cpp
  src/base58.h
  src/bench/base58.cpp
  src/qt/guiutil.cpp
  src/test/base58_tests.cpp
Owners: @jonasschnelli, @marcofalke

RPCConsole, take initial chaintip data as parameter
  src/qt/rpcconsole.cpp
  src/qt/rpcconsole.h
Owners: @jonasschnelli

Add BlockAndHeaderTipInfo to the node interface/appInit
  src/interfaces/node.cpp
  src/interfaces/node.h
Owners: none

Reduce cs_main lock accumulation during GUI startup
  src/qt/bitcoin.cpp
  src/qt/bitcoin.h
  src/qt/bitcoingui.cpp
  src/qt/bitcoingui.h
  src/qt/test/apptests.cpp
Owners: @jonasschnelli

Optionally populate BlockAndHeaderTipInfo during AppInitMain
  src/init.cpp
  src/init.h
Owners: none

test: add logging for p2p_feefilter.py
  test/functional/p2p_feefilter.py
Owners: @marcofalke

test: use wait_until for invs matching in p2p_feefilter.py
  test/functional/p2p_feefilter.py
Owners: @marcofalke

test: speedup p2p_feefilter.py by whitelisting peers (immediate tx relay)
  test/functional/p2p_feefilter.py
Owners: @marcofalke

Cap listsinceblock target_confirmations param
  src/wallet/rpcwallet.cpp
  test/functional/wallet_listsinceblock.py
Owners: @meshcollider, @marcofalke

qt: Name RPCConsole executor QThread
  src/qt/rpcconsole.cpp
Owners: @jonasschnelli

qt: Name WalletController worker QThread
  src/qt/walletcontroller.cpp
Owners: @jonasschnelli

qt: Name ClientModel timer QThread
  src/qt/clientmodel.cpp
Owners: @jonasschnelli

qt: Rename qt-init thread before logging start
  src/qt/bitcoin.cpp
Owners: @jonasschnelli

Add loadwallet and createwallet RPC load_on_startup options
  doc/release-notes-15937.md
  src/interfaces/chain.cpp
  src/interfaces/chain.h
  src/rpc/client.cpp
  src/wallet/init.cpp
  src/wallet/load.cpp
  src/wallet/load.h
  src/wallet/rpcwallet.cpp
  test/functional/test_framework/test_node.py
  test/functional/test_runner.py
  test/functional/wallet_startup.py
Owners: @meshcollider, @marcofalke

Replace usage of GetScriptForWitness with GetScriptForDestination
  src/bitcoin-tx.cpp
  src/test/fuzz/script.cpp
  src/test/script_standard_tests.cpp
  src/test/sigopcount_tests.cpp
  src/test/transaction_tests.cpp
  src/test/txvalidationcache_tests.cpp
Owners: @marcofalke

Remove GetScriptForWitness function
  src/script/standard.cpp
  src/script/standard.h
Owners: none

Add variables for repeated scripts
  src/test/transaction_tests.cpp
Owners: @marcofalke

test: Fix 'make cov' with clang
  src/test/util_tests.cpp
Owners: @marcofalke

rpc: Remove unused return type from appendCommand
  src/rpc/server.cpp
  src/rpc/server.h
Owners: none

rpc: Assert that RPCArg names are equal to CRPCCommand ones (mining)
  src/rpc/mining.cpp
  test/functional/rpc_generate.py
Owners: @marcofalke

rpc: Assert that RPCArg names are equal to CRPCCommand ones (zmq)
  src/zmq/zmqrpc.cpp
Owners: none

CODEOWNERS:

# Nonspecific maintainers
#   @laanwj
#   @sipa
#   @fanquake

# Build system maintainer
/configure.ac         @theuni
/build-aux/           @theuni
/depends/             @theuni
*.am                  @theuni
Makefile.*            @theuni

# Test framework maintainer
/src/test/            @marcofalke
/test/                @marcofalke
/ci/                  @marcofalke

# GUI maintainer
/src/qt/              @jonasschnelli

# Wallet maintainer
/src/wallet/          @meshcollider

# MSVC build system maintainer
/build_msvc/          @sipsorcery
