Repository willyjin17/coin, changes with the owners that CODEOWNERS names for each.
All owners: @theuni, @marcofalke, @jonasschnelli, @meshcollider, @sipsorcery

CODEOWNERS:

# Nonspecific maintainers
#   @laanwj
#   @sipa
#   @fanquake

# Build system maintainer
/configure.ac         @theuni
/build-aux/           @theuni
/depends/             @theuni
*.am                  @theuni
Makefile.*            @theuni

# Test framework maintainer
/src/test/            @marcofalke
/test/                @marcofalke
/ci/                  @marcofalke

# GUI maintainer
/src/qt/              @jonasschnelli

# Wallet maintainer
/src/wallet/          @meshcollider

# MSVC build system maintainer
/build_msvc/          @sipsorcery

rpc: Assert that RPCArg names are equal to CRPCCommand ones (rpcdump)
  src/wallet/rpcdump.cpp
  src/wallet/rpcwallet.cpp
  src/wallet/test/wallet_tests.cpp
Owners: @meshcollider

build: Add missed gcov files to 'make clean'
  src/Makefile.am
  src/Makefile.test.include
Owners: @theuni

bench: Allow skip benchmark
  src/bench/bench.cpp
Owners: none

build: Add Werror=range-loop-analysis
  configure.ac
  src/wallet/wallettool.cpp
Owners: @theuni, @meshcollider

doc: comment out and add annotation to unused MSG_FILTERED_WITNESS_BLOCK
  src/protocol.h
Owners: none

Increase the ip address relay branching factor for unreachable networks
  src/net_processing.cpp
Owners: none

ci: Set increased --timeout-factor by default
  ci/test/00_setup_env.sh
  ci/test/00_setup_env_native_asan.sh
  ci/test/00_setup_env_native_tsan.sh
  ci/test/00_setup_env_native_valgrind.sh
  ci/test/06_script_b.sh
Owners: @marcofalke

net: add nLastBlockTime/TXTime to CNodeStats, CNode::copyStats
  src/net.cpp
  src/net.h
Owners: none

test: Remove confusing and broken use of wait_until global
  test/functional/wallet_basic.py
Owners: @marcofalke

rpc: expose nLastBlockTime/TXTime as getpeerinfo last_block/transaction
  src/rpc/net.cpp
Owners: none

test: getpeerinfo last_block and last_transaction tests
  test/functional/rpc_net.py
Owners: @marcofalke

test: rpc_net.py logging and test naming improvements
  test/functional/rpc_net.py
Owners: @marcofalke

doc: release note for getpeerinfo last_block/last_transaction
  doc/release-notes-19731.md
Owners: none

Updated outdated help command for getblocktemplate (fixes #19625)
  src/rpc/mining.cpp
Owners: none

Move only: Move CDiskTxPos to its own file
  src/Makefile.am
  src/index/disktxpos.h
  src/index/txindex.cpp
Owners: @theuni

rpc: Add getindexinfo RPC
  src/index/base.cpp
  src/index/base.h
  src/rpc/misc.cpp
Owners: none

test: Add tests for getindexinfo RPC
  test/functional/rpc_misc.py
Owners: @marcofalke

doc: Add release notes for getindexinfo RPC
  doc/release-notes.md
Owners: none

build: disable D-Bus on Android by default
  build-aux/m4/bitcoin_qt.m4
Owners: @theuni

build: AX_BOOST_THREAD serial 33
  build-aux/m4/ax_boost_thread.m4
Owners: @theuni

wallet: GetWalletTx requires cs_wallet lock
  src/wallet/wallet.cpp
  src/wallet/wallet.h
Owners: @meshcollider

wallet: IsMine overloads require cs_wallet lock
  src/interfaces/wallet.cpp
  src/wallet/wallet.cpp
  src/wallet/wallet.h
Owners: @meshcollider

[test] Add test for getblockheader verboseness
  test/functional/rpc_blockchain.py
Owners: @marcofalke

ci: Run valgrind fuzzer on cirrus
  .cirrus.yml
  .travis.yml
Owners: none

ci: Set cirrus RAM to 8GB
  .cirrus.yml
Owners: none

util: remove c-string interfaces for DecodeBase58{Check}
  src/base58.cpp
  src/base58.h
Owners: none

util: remove unused c-string variant of atoi64()
  src/test/fuzz/locale.cpp
  src/util/strencodings.cpp
  src/util/strencodings.h
  src/wallet/wallet.h
Owners: @marcofalke, @meshcollider

tests: add sync_all to fix race condition in wallet groups test
  test/functional/wallet_groups.py
Owners: @marcofalke

doc: release notes for -maxapsfee
  doc/release-notes-14582.md
Owners: none

Drop deprecated and unused GUARDED_VAR and PT_GUARDED_VAR annotations
  src/threadsafety.h
Owners: none

-maxapsfee: follow-up fixes
  src/wallet/wallet.cpp
  test/functional/wallet_groups.py
Owners: @meshcollider, @marcofalke

tests: Add fuzzing harness for SigHasLowR(...) and ecdsa_signature_parse_der_lax(...)
  src/Makefile.test.include
  src/pubkey.cpp
  src/test/fuzz/secp256k1_ecdsa_signature_parse_der_lax.cpp
Owners: @theuni, @marcofalke

tests: Add fuzzing harness for ec_seckey_import_der(...) and ec_seckey_export_der(...)
  src/Makefile.test.include
  src/key.cpp
  src/test/fuzz/secp256k1_ec_seckey_import_export_der.cpp
Owners: @theuni, @marcofalke

depends: Cleanup CMake invocation
  depends/funcs.mk
Owners: @theuni

depends: Prepend CPPFLAGS to C{,XX}FLAGS for CMake
  depends/funcs.mk
Owners: @theuni

depends: Specify LDFLAGS to cmake as well
  depends/funcs.mk
Owners: @theuni

test: remove `CNodeNoVersionMisbehavior` from p2p_leak.py
  test/functional/p2p_leak.py
Owners: @marcofalke

test: remove `CNodeNoVersionIdle` from p2p_leak.py
  test/functional/p2p_leak.py
Owners: @marcofalke

test: Distinguish between nodes(bitcoind) and peers(mininodes) in p2p_leak.py
  test/functional/p2p_leak.py
Owners: @marcofalke

Remove unused includes
  src/index/disktxpos.h
Owners: none
