Repository willyjin17/coin, changes with the owners that CODEOWNERS names for each.
All owners: @theuni, @marcofalke, @jonasschnelli, @meshcollider, @sipsorcery

lint: Remove travis env var from commit linter
  test/lint/lint-git-commit-check.sh
Owners: @marcofalke

test: Wait until is_connected in add_p2p_connection
  test/functional/p2p_filter.py
  test/functional/p2p_leak.py
  test/functional/test_framework/mininode.py
  test/functional/test_framework/test_node.py
Owners: @marcofalke

test addition of unknown segwit spends to txid reject filter
  test/functional/p2p_segwit.py
Owners: @marcofalke

Add txids with non-standard inputs to reject filter
  src/consensus/validation.h
  src/net_processing.cpp
  src/policy/policy.cpp
  src/validation.cpp
Owners: none

Rewrite parent txid loop of requested transactions
  src/net_processing.cpp
Owners: none

Deduplicate missing parents of orphan transactions
  src/net_processing.cpp
Owners: none

build: set minimum required Boost to 1.58
  configure.ac
  doc/dependencies.md
Owners: @theuni

contrib: Fixup valgrind suppressions file
  contrib/valgrind.supp
Owners: none

build: Update and sort package list in gitian-linux.yml
  contrib/gitian-descriptors/gitian-linux.yml
Owners: none

wallet: try -avoidpartialspends mode and use its result if fees are below threshold
  src/dummywallet.cpp
  src/wallet/init.cpp
  src/wallet/wallet.cpp
  src/wallet/wallet.h
Owners: @meshcollider

test: test the implicit avoid partial spends functionality
  test/functional/wallet_groups.py
Owners: @marcofalke

build: make clean removes .gcda and .gcno files from fuzz directory
  src/Makefile.test.include
Owners: @theuni

refactor: test: use _ variable for unused loop counters
  test/functional/example_test.py
  test/functional/feature_assumevalid.py
  test/functional/feature_bip68_sequence.py
  test/functional/feature_block.py
  test/functional/feature_csv_activation.py
  test/functional/feature_dbcrash.py
  test/functional/feature_fee_estimation.py
  test/functional/feature_maxuploadtarget.py
  test/functional/feature_pruning.py
  test/functional/feature_rbf.py
  test/functional/feature_segwit.py
  test/functional/mempool_package_onemore.py
  test/functional/mempool_packages.py
  test/functional/mempool_persist.py
  test/functional/mempool_updatefromblock.py
  test/functional/p2p_compactblocks.py
  test/functional/p2p_feefilter.py
  test/functional/p2p_segwit.py
  test/functional/p2p_sendheaders.py
  test/functional/p2p_tx_download.py
  test/functional/rpc_fundrawtransaction.py
  test/functional/rpc_generateblock.py
  test/functional/rpc_psbt.py
  test/functional/test_framework/messages.py
  test/functional/test_framework/script.py
  test/functional/test_framework/util.py
  test/functional/wallet_backup.py
  test/functional/wallet_basic.py
  test/functional/wallet_bumpfee.py
  test/functional/wallet_create_tx.py
  test/functional/wallet_descriptor.py
  test/functional/wallet_dump.py
  test/functional/wallet_groups.py
  test/functional/wallet_labels.py
  test/functional/wallet_multiwallet.py
Owners: @marcofalke

refactor: Make HexStr take a span
  src/core_write.cpp
  src/net.cpp
  src/rpc/rawtransaction.cpp
  src/rpc/request.cpp
  src/rpc/util.cpp
  src/script/descriptor.cpp
  src/test/crypto_tests.cpp
  src/test/settings_tests.cpp
  src/test/util_tests.cpp
  src/uint256.cpp
  src/util/strencodings.cpp
  src/util/strencodings.h
  src/validation.cpp
  src/wallet/bdb.cpp
  src/wallet/rpcdump.cpp
  src/wallet/rpcwallet.cpp
Owners: @marcofalke, @meshcollider

Add SHA256Uint256 helper functions
  src/hash.cpp
  src/hash.h
Owners: none

Add single sha256 call to CHashWriter
  src/hash.h
Owners: none

[rpc] fundrawtransaction, walletcreatefundedpsbt lock manually selected coins
  doc/release-notes-18244.md
  src/wallet/rpcwallet.cpp
  src/wallet/wallet.cpp
  test/functional/rpc_psbt.py
  test/functional/wallet_basic.py
Owners: @meshcollider, @marcofalke

Replace `hidden service` with `onion service`
  CONTRIBUTING.md
  doc/JSON-RPC-interface.md
  doc/files.md
  doc/tor.md
  src/init.cpp
  src/qt/forms/optionsdialog.ui
  src/torcontrol.cpp
Owners: @jonasschnelli

Refactor Get{Prevout,Sequence,Outputs}Hash to Get{Prevouts,Sequences,Outputs}SHA256.
  src/script/interpreter.cpp
Owners: none

scripted-diff: Rename OneShot to AddrFetch
  src/chainparams.cpp
  src/net.cpp
  src/net.h
  src/net_processing.cpp
Owners: none

[net/refactor] Remove fFeeler flag from CNode
  src/net.cpp
  src/net.h
  src/net_processing.cpp
  src/test/net_tests.cpp
Owners: @marcofalke

[net/refactor] Add AddrFetch connections to ConnectionType enum
  src/net.cpp
  src/net.h
  src/rpc/net.cpp
  src/test/fuzz/process_messages.cpp
Owners: @marcofalke

[net/refactor] Add connection type as a member var to CNode
  src/net.cpp
  src/net.h
Owners: none

[net/refactor] Add block relay only connections to ConnectionType enum
  src/net.cpp
  src/net.h
  src/test/fuzz/process_message.cpp
  src/test/fuzz/process_messages.cpp
Owners: @marcofalke

[net/refactor] Clarify logic for selecting connections in ThreadOpenConnections
  src/net.cpp
Owners: none

[net/refactor] Extract m_addr_known logic from initializer list
  src/net.cpp
  src/net.h
Owners: none

[net/refactor] Add manual connections to ConnectionType enum
  src/net.cpp
  src/net.h
  src/rpc/net.cpp
  src/test/fuzz/process_messages.cpp
Owners: @marcofalke

[net/refactor] Remove m_addr_fetch member var from CNode
  src/net.cpp
  src/net.h
  src/net_processing.cpp
Owners: none

[net/refactor] Add feeler connections to ConnectionType enum
  src/net.cpp
  src/net.h
  src/rpc/net.cpp
  src/test/fuzz/process_messages.cpp
Owners: @marcofalke

[net/refactor] Remove fInbound flag from CNode
  src/net.cpp
  src/net.h
  src/net_processing.cpp
  src/test/net_tests.cpp
Owners: @marcofalke

[doc] Describe different connection types
  src/net.h
Owners: none

[net/refactor] Remove m_manual_connection flag from CNode
  src/net.cpp
  src/net.h
  src/net_processing.cpp
Owners: none

[net/refactor] Rework ThreadOpenConnections logic
  src/net.cpp
  src/net.h
Owners: none

[net] Fix bug where AddrFetch connections would be counted as outbound full relay
  src/net.cpp
Owners: none

[net/refactor] Simplify multiple-connection checks
  src/net.cpp
  src/net.h
  src/net_processing.cpp
Owners: none

[net/refactor] Introduce an enum to distinguish type of connection
  src/net.cpp
  src/net.h
  src/test/denialofservice_tests.cpp
  src/test/fuzz/process_message.cpp
  src/test/fuzz/process_messages.cpp
  src/test/net_tests.cpp
Owners: @marcofalke

[net] Remove unnecessary default args on CNode constructor
  src/net.h
Owners: none

[refactor] Remove IsOutboundDisconnectionCandidate
  src/net_processing.cpp
Owners: none

depends: Use $($(package)_cmake) instead of cmake
  depends/packages/native_cdrkit.mk
  depends/packages/native_libdmg-hfsplus.mk
Owners: @theuni

depends: More robust cmake invocation
  depends/funcs.mk
Owners: @theuni

CODEOWNERS:

# Nonspecific maintainers
#   @laanwj
#   @sipa
#   @fanquake

# Build system maintainer
/configure.ac         @theuni
/build-aux/           @theuni
/depends/             @theuni
*.am                  @theuni
Makefile.*            @theuni

# Test framework maintainer
/src/test/            @marcofalke
/test/                @marcofalke
/ci/                  @marcofalke

# GUI maintainer
/src/qt/              @jonasschnelli

# Wallet maintainer
/src/wallet/          @meshcollider

# MSVC build system maintainer
/build_msvc/          @sipsorcery
