Repository willyjin17/coin, changes with the owners that CODEOWNERS names for each.
All owners: @theuni, @marcofalke, @jonasschnelli, @meshcollider, @sipsorcery

CODEOWNERS:

# Nonspecific maintainers
#   @laanwj
#   @sipa
#   @fanquake

# Build system maintainer
/configure.ac         @theuni
/build-aux/           @theuni
/depends/             @theuni
*.am                  @theuni
Makefile.*            @theuni

# Test framework maintainer
/src/test/            @marcofalke
/test/                @marcofalke
/ci/                  @marcofalke

# GUI maintainer
/src/qt/              @jonasschnelli

# Wallet maintainer
/src/wallet/          @meshcollider

# MSVC build system maintainer
/build_msvc/          @sipsorcery

Move comment about BaseIndex::DB from TxIndex::DB
  src/index/base.h
  src/index/txindex.cpp
Owners: none

doc: Fix getmempoolancestor RPC result doc
  src/rpc/blockchain.cpp
Owners: none

Move Win32 defines to configure.ac to ensure they are globally defined
  build_msvc/common.init.vcxproj
  configure.ac
  src/compat.h
  src/qt/guiutil.cpp
  src/support/lockedpool.cpp
  src/util/system.cpp
Owners: @sipsorcery, @theuni, @jonasschnelli

help: Generate checkpoint height from chainparams
  src/chainparams.h
  src/init.cpp
Owners: none

wallet: IsChange requires cs_wallet lock
  src/wallet/wallet.cpp
  src/wallet/wallet.h
Owners: @meshcollider

[net_processing] Move ProcessMessage to PeerLogicValidation
  src/net_processing.cpp
  src/net_processing.h
  src/test/fuzz/process_message.cpp
Owners: @marcofalke

docs: Correct description for getblockstats's txs field
  src/rpc/blockchain.cpp
Owners: none

scripted-diff: Rename mininode_lock to p2p_lock
  test/functional/example_test.py
  test/functional/feature_versionbits_warning.py
  test/functional/p2p_compactblocks.py
  test/functional/p2p_feefilter.py
  test/functional/p2p_filter.py
  test/functional/p2p_getaddr_caching.py
  test/functional/p2p_leak.py
  test/functional/p2p_node_network_limited.py
  test/functional/p2p_segwit.py
  test/functional/p2p_sendheaders.py
  test/functional/p2p_tx_download.py
  test/functional/p2p_unrequested_blocks.py
  test/functional/test_framework/mininode.py
  test/functional/wallet_resendwallettransactions.py
Owners: @marcofalke

test: resort imports
  test/functional/example_test.py
  test/functional/feature_versionbits_warning.py
  test/functional/mempool_persist.py
  test/functional/p2p_addr_relay.py
  test/functional/p2p_eviction.py
  test/functional/p2p_feefilter.py
  test/functional/rpc_blockchain.py
  test/functional/rpc_net.py
  test/functional/test_framework/test_framework.py
Owners: @marcofalke

test: Move doxygen comment to header
  src/test/util/setup_common.cpp
  src/test/util/setup_common.h
Owners: @marcofalke

test: Pass empty tx pool to block assembler
  src/test/util/setup_common.cpp
Owners: @marcofalke

test: Activate segwit in TestChain100Setup
  src/test/util/setup_common.cpp
Owners: @marcofalke

test: add parameterized constructor for msg_sendcmpct()
  test/functional/p2p_compactblocks.py
  test/functional/test_framework/messages.py
Owners: @marcofalke

qt, refactor: Limit scope of QPainter object
  src/qt/qrimagewidget.cpp
Owners: @jonasschnelli

test/fuzz: add a seed corpus generation option to the test_runner
  test/fuzz/test_runner.py
Owners: @marcofalke

init: Pass reference to ArgsManager around instead of relying on global
  src/bitcoind.cpp
  src/init.cpp
  src/init.h
  src/interfaces/node.cpp
  src/test/util/setup_common.cpp
Owners: @marcofalke

init: Capture copy of blocknotify setting for BlockNotifyCallback
  src/init.cpp
Owners: none

scripted-diff: gArgs -> args
  src/bitcoind.cpp
  src/init.cpp
Owners: none

doc: Remove label from good first issue template
  .github/ISSUE_TEMPLATE/good_first_issue.md
Owners: none

test: Select at least the fee in wallet_bumpfee to avoid negative amounts
  test/functional/wallet_bumpfee.py
Owners: @marcofalke

test: Fix intermittent issue in wallet_bumpfee
  test/functional/wallet_bumpfee.py
Owners: @marcofalke

Add in/out connections to rpc getnetworkinfo
  doc/release-notes-19405.md
  src/rpc/net.cpp
  test/functional/rpc_net.py
Owners: @marcofalke

UNIX_EPOCH_TIME fixup in rpc getnettotals
  src/rpc/net.cpp
Owners: none

Add in/out connections to cli -getinfo
  doc/release-notes-19405.md
  src/bitcoin-cli.cpp
  test/functional/interface_bitcoin_cli.py
Owners: @marcofalke

net: change CNetAddr::ip to have flexible size
  src/netaddress.cpp
  src/netaddress.h
  src/netbase.cpp
  src/test/fuzz/asmap.cpp
  src/test/fuzz/netaddress.cpp
  src/test/fuzz/util.h
  src/test/net_tests.cpp
  src/test/netbase_tests.cpp
  src/util/strencodings.cpp
  src/util/strencodings.h
Owners: @marcofalke

net: don't accept non-left-contiguous netmasks
  doc/release-notes.md
  src/netaddress.cpp
  src/test/netbase_tests.cpp
Owners: @marcofalke

build: use patch rather than sed in bdb package
  depends/packages/bdb.mk
  depends/patches/bdb/clang_cxx_11.patch
Owners: @theuni

build: use patch rather than sed in Boost package
  depends/packages/boost.mk
  depends/patches/boost/unused_var_in_process.patch
Owners: @theuni

build: use patch rather than sed in fontconfig package
  depends/packages/fontconfig.mk
  depends/patches/fontconfig/gperf_header_regen.patch
  depends/patches/fontconfig/remove_char_width_usage.patch
Owners: @theuni

build: remove no-longer needed qt configure workaround
  depends/packages/qt.mk
Owners: @theuni

build: use patch rather than sed in native_cctools package
  depends/packages/native_cctools.mk
  depends/patches/native_cctools/ld64_disable_threading.patch
Owners: @theuni

build: use patch rather than sed in zeromq package
  depends/packages/zeromq.mk
  depends/patches/zeromq/remove_libstd_link.patch
Owners: @theuni

build: replace pwd sed in qt package with a patch
  depends/packages/qt.mk
  depends/patches/qt/dont_hardcode_pwd.patch
Owners: @theuni

build: replace FreeType back-compat sed with a patch in qt package
  depends/packages/qt.mk
  depends/patches/qt/freetype_back_compat.patch
Owners: @theuni

build: remove no-longer needed qt workaround
  depends/packages/qt.mk
Owners: @theuni

[test] Remove final references to mininode
  test/functional/README.md
  test/functional/example_test.py
  test/functional/feature_block.py
  test/functional/p2p_permissions.py
  test/functional/p2p_segwit.py
  test/functional/test_framework/messages.py
  test/functional/test_framework/p2p.py
  test/functional/test_framework/test_node.py
Owners: @marcofalke

test: inline hashToHex
  test/functional/p2p_feefilter.py
Owners: @marcofalke

Bugfix: Define and use HAVE_FDATASYNC correctly outside LevelDB
  configure.ac
  src/util/system.cpp
Owners: @theuni

util: make EncodeBase32 consume Spans
  src/netaddress.cpp
  src/util/strencodings.cpp
  src/util/strencodings.h
Owners: none

util: make EncodeBase64 consume Spans
  src/rpc/rawtransaction.cpp
  src/util/message.cpp
  src/util/strencodings.cpp
  src/util/strencodings.h
Owners: none
