Repository willyjin17/coin, changes with the owners that CODEOWNERS names for each.
All owners: @theuni, @marcofalke, @jonasschnelli, @meshcollider, @sipsorcery

wallet: filter for keys only before record deser in salvage
  src/wallet/salvage.cpp
Owners: @meshcollider

walletdb: Add KeyFilterFn to ReadKeyValue
  src/wallet/walletdb.cpp
  src/wallet/walletdb.h
Owners: @meshcollider

build: replace qtranslations lrelease sed with a patch in qt package
  depends/packages/qt.mk
  depends/patches/qt/drop_lrelease_dependency.patch
Owners: @theuni

build: replace wingenminiupnpcstrings sed with a patch in miniupnpc package
  depends/packages/miniupnpc.mk
  depends/patches/miniupnpc/dont_use_wingen.patch
Owners: @theuni

gui: Delay interfaces::Node initialization
  src/qt/bitcoin.cpp
  src/qt/splashscreen.cpp
  src/qt/splashscreen.h
Owners: @jonasschnelli

gui: Partially revert #10244 gArgs and Params changes
  src/interfaces/node.cpp
  src/interfaces/node.h
  src/qt/bitcoin.cpp
  src/qt/intro.cpp
  src/qt/optionsmodel.cpp
  src/qt/paymentserver.cpp
  src/qt/test/test_main.cpp
Owners: @jonasschnelli

gui: Remove unused interfaces::Node references
  src/qt/bitcoin.cpp
  src/qt/bitcoingui.cpp
  src/qt/intro.cpp
  src/qt/intro.h
  src/qt/paymentserver.cpp
  src/qt/paymentserver.h
  src/qt/utilitydialog.cpp
  src/qt/utilitydialog.h
Owners: @jonasschnelli

gui: Replace interface::Node references with pointers
  src/qt/bitcoin.cpp
  src/qt/bitcoin.h
  src/qt/optionsmodel.cpp
  src/qt/optionsmodel.h
  src/qt/splashscreen.cpp
  src/qt/splashscreen.h
  src/qt/test/addressbooktests.cpp
  src/qt/test/test_main.cpp
  src/qt/test/wallettests.cpp
Owners: @jonasschnelli

p2p: add CInv block message helper methods
  src/protocol.h
Owners: none

p2p: remove nFetchFlags from NetMsgType TX and INV processing
  src/net_processing.cpp
Owners: none

[net processing] Split AlreadyHave() into separate block and tx functions
  src/net_processing.cpp
Owners: none

[net processing] Remove mempool argument from AlreadyHaveBlock()
  src/net_processing.cpp
Owners: none

[net processing] Change AlreadyHaveBlock() to take block_hash argument
  src/net_processing.cpp
Owners: none

[net processing] Change AlreadyHaveTx() to take a GenTxid
  src/net_processing.cpp
Owners: none

p2p: use CInv block message helpers in net_processing.cpp
  src/net_processing.cpp
Owners: none

p2p: make gtxid(.hash) and fAlreadyHave localvars const
  src/net_processing.cpp
Owners: none

test: use CInv::MSG_WITNESS_TX flag in p2p_segwit
  test/functional/p2p_segwit.py
  test/functional/test_framework/messages.py
Owners: @marcofalke

p2p: ensure inv is GenMsgTx before ToGenTxid in inv processing
  src/net_processing.cpp
Owners: none

bench: Prevent thread oversubscription
  src/bench/checkqueue.cpp
Owners: none

test: Update wait_until usage in tests not to use the one from utils
  test/functional/example_test.py
  test/functional/feature_abortnode.py
  test/functional/feature_notifications.py
  test/functional/feature_pruning.py
  test/functional/feature_shutdown.py
  test/functional/feature_versionbits_warning.py
  test/functional/mempool_packages.py
  test/functional/mempool_persist.py
  test/functional/p2p_blockfilters.py
  test/functional/p2p_compactblocks.py
  test/functional/p2p_disconnect_ban.py
  test/functional/p2p_eviction.py
  test/functional/p2p_feefilter.py
  test/functional/p2p_fingerprint.py
  test/functional/p2p_invalid_messages.py
  test/functional/p2p_invalid_tx.py
  test/functional/p2p_leak.py
  test/functional/p2p_node_network_limited.py
  test/functional/p2p_permissions.py
  test/functional/p2p_segwit.py
  test/functional/p2p_sendheaders.py
  test/functional/p2p_tx_download.py
  test/functional/rpc_invalidateblock.py
  test/functional/rpc_net.py
  test/functional/wallet_resendwallettransactions.py
  test/functional/wallet_zapwallettxes.py
Owners: @marcofalke

test: Add docstring to wait_until() in util.py to warn about its usage
  test/functional/test_framework/util.py
Owners: @marcofalke

Justify the choice of ADDR cache lifetime
  src/net.cpp
Owners: none

Add indexing ADDR cache by local socket addr
  src/net.cpp
  src/net.h
  src/net_processing.cpp
Owners: none

p2p: change CInv::type from int to uint32_t
  src/protocol.cpp
  src/protocol.h
Owners: none

test: Remove unused p2p_lock in VersionBitsWarningTest
  test/functional/feature_versionbits_warning.py
Owners: @marcofalke

test: Rename wait until helper to wait_until_helper
  test/functional/example_test.py
  test/functional/test_framework/p2p.py
  test/functional/test_framework/test_framework.py
  test/functional/test_framework/test_node.py
  test/functional/test_framework/util.py
Owners: @marcofalke

test: Remove unused lock arg from BitcoinTestFramework.wait_until
  test/functional/p2p_leak.py
  test/functional/test_framework/test_framework.py
Owners: @marcofalke

tests: Add fuzzing harness for CNode
  src/Makefile.test.include
  src/test/fuzz/net.cpp
Owners: @theuni, @marcofalke

refactor: Create interfaces earlier during initialization
  src/bitcoind.cpp
  src/init.cpp
  src/init.h
  src/interfaces/node.cpp
Owners: none

refactor: Move wallet methods out of chain.h and node.h
  src/dummywallet.cpp
  src/interfaces/chain.h
  src/interfaces/node.cpp
  src/interfaces/node.h
  src/interfaces/wallet.cpp
  src/interfaces/wallet.h
  src/node/context.h
  src/qt/bitcoin.cpp
  src/qt/bitcoingui.cpp
  src/qt/splashscreen.cpp
  src/qt/splashscreen.h
  src/qt/walletcontroller.cpp
  src/qt/walletmodel.cpp
  src/wallet/init.cpp
  src/wallet/test/init_test_fixture.cpp
  src/wallet/test/init_test_fixture.h
  src/wallet/test/init_tests.cpp
  src/wallet/test/wallet_test_fixture.cpp
  src/wallet/test/wallet_test_fixture.h
  src/wallet/wallet.cpp
Owners: @jonasschnelli, @meshcollider

gui refactor: Inline SplashScreen::ConnectWallet
  src/qt/splashscreen.cpp
  src/qt/splashscreen.h
Owners: @jonasschnelli

chain: Remove UB CChain comparison
  src/chain.h
Owners: none

Pass mempool reference to chainstate constructor
  src/init.cpp
  src/test/util/setup_common.cpp
  src/test/validation_chainstate_tests.cpp
  src/test/validation_chainstatemanager_tests.cpp
  src/test/validation_flush_tests.cpp
  src/validation.cpp
  src/validation.h
Owners: @marcofalke

Warn on unknown rw_settings
  src/util/system.cpp
  test/functional/feature_settings.py
Owners: @marcofalke

wallet, refactor: Immutable CWalletTx::pwallet
  src/wallet/wallet.h
Owners: @meshcollider

wallet: Avoid recursive lock in IsTrusted
  src/wallet/wallet.cpp
  src/wallet/wallet.h
Owners: @meshcollider

Remove old check for 3-byte shifted IP addresses from pre-0.2.9 node messages
  src/netaddress.cpp
Owners: none

wallet, refactor: Remove duplicate map lookups in GetAddressBalances
  src/wallet/wallet.cpp
Owners: @meshcollider

test framework: serialize/deserialize inv type as unsigned int
  test/functional/test_framework/messages.py
Owners: @marcofalke

Ignore unknown messages before VERACK
  src/net_processing.cpp
Owners: none

CODEOWNERS:

# Nonspecific maintainers
#   @laanwj
#   @sipa
#   @fanquake

# Build system maintainer
/configure.ac         @theuni
/build-aux/           @theuni
/depends/             @theuni
*.am                  @theuni
Makefile.*            @theuni

# Test framework maintainer
/src/test/            @marcofalke
/test/                @marcofalke
/ci/                  @marcofalke

# GUI maintainer
/src/qt/              @jonasschnelli

# Wallet maintainer
/src/wallet/          @meshcollider

# MSVC build system maintainer
/build_msvc/          @sipsorcery
